.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header__title{
    font-size: 24px;
    font-weight: 600;
}

.header .header__icon{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.header .header__header-column{
    display: flex;
    align-items: center;
}

.header__header-column .fa-cog:hover{
    animation: rotateCog 1s linear infinite;
}

.header .header__back-btn{
    font-size: 22px;
    margin-right: 20px;
}

@keyframes rotateCog{
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}